# 2.Feature engineering

In [1]:
import pandas as pd
import numpy as np
train = pd.read_csv('../data/Raw/train.csv')
test = pd.read_csv('../data/Raw/test.csv')

In [2]:
train.Cabin
train['Cabin_First'] = train.Cabin.str[0]

In [3]:
train[['SibSp','Parch']]
train['FamilyCount'] = train.SibSp + train.Parch

In [4]:
train.Name
train['title'] = train.Name.str.extract('\, ([A-Z][^ ]*\.)', expand=False)
train.title.value_counts().reset_index()

        index  title
0         Mr.    517
1       Miss.    182
2        Mrs.    125
3     Master.     40
4         Dr.      7
5        Rev.      6
6      Major.      2
7       Mlle.      2
8        Col.      2
9        Don.      1
10       Mme.      1
11        Ms.      1
12      Lady.      1
13       Sir.      1
14      Capt.      1
15  Jonkheer.      1

# 3.Preprocessing

## 3.1 Fare preprocessing

In [5]:
print((train.Fare == 0).sum())

15

In [6]:
train.Fare = train.Fare.replace(0, np.NaN)

In [7]:
print((train.Fare == 0).sum())

0

In [8]:
train[train.Fare.isnull()].index

Int64Index([179, 263, 271, 277, 302, 413, 466, 481, 597, 633, 674, 732, 806,
            815, 822],
           dtype='int64')

In [9]:
train.Fare.mean()

32.75564988584475

In [10]:
train.Fare.fillna(train.Fare.mean(), inplace=True)

In [11]:
train[train.Fare.isnull()]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Cabin_First, FamilyCount, title]
Index: []

## 3.2 Age preprocessing

In [12]:
print((train.Age == 0).sum())

0

In [13]:
train.Age.fillna(train.Age.mean(), inplace=True)

In [14]:
train[train.Age.isnull()]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Cabin_First, FamilyCount, title]
Index: []

In [15]:
train.Age = train.Age.apply(int)
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_First,FamilyCount,title
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S,NaN,1,Mr.
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C,C,1,Mrs.
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN,0,Miss.
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S,C,1,Mrs.
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S,NaN,0,Mr.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13.0000,NaN,S,NaN,0,Rev.
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.0000,B42,S,B,0,Miss.
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29,1,2,W./C. 6607,23.4500,NaN,S,NaN,3,Miss.
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30.0000,C148,C,C,0,Mr.
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.7500,NaN,Q,NaN,0,Mr.

## 3.3. Cabin preprocessing

In [16]:
train.Cabin.isnull().mean()

0.7710437710437711

We see that a majority 77% of the Cabin variable has missing values. Hence will drop the column from training a machine learnign algorithem

## 3.4.preprocessing to test

In [17]:
#refactor train into test
test['Cabin_First'] = test.Cabin.str[0]
test['FamilyCount'] = test.SibSp + train.Parch
test['title'] = test.Name.str.extract('\, ([A-Z][^ ]*\.)', expand=False)
test.Fare = test.Fare.replace(0, np.NaN)
test.Fare.fillna(test.Fare.mean(), inplace=True)
test.Age.fillna(test.Age.mean(), inplace=True)
test.Age = test.Age.apply(int)

# 4. Export

In [18]:
import os
print(os.getcwd())
train.to_csv('../data/Preprocessed/train.csv', index=False)
test.to_csv('../data/Preprocessed/test.csv', index=False)

/Users/valedipalo/Documents/GitHub/titanic4kaggle/Titanic analysis